<div class="signup-container">
  <h1>Login</h1>
  <img src="/images/login.png" />
  <form method="POST" action="/auth/login">
    <input type="text" name="username" placeholder="Username" class="signup-field"/>
    <input type="password" name="password" placeholder="Password" class="signup-field"/>
    <button type="submit" class="signup-button">LOGIN</button>
  </form>
</div>