<div class="signup-container">
  <h1>CREATE ACCOUNT</h1>
  <img src="/images/signup.png" />
  <form method="POST" action="/auth/signup">
    <input type="text" name="username" placeholder="Username" class="signup-field"/>
    <input type="password" name="password" placeholder="Password" class="signup-field"/>
    <input type="email" name="email" placeholder="E-Mail" class="signup-field"/>
    <input type="text" name="location" placeholder="Location" class="signup-field"/>
    <button type="submit" class="signup-button">GO!</button>
  </form>
</div>

