<div class="index-container">
    <img src="/images/logo-trype.png" class="index-logo">
    <img src="/images/index-bg.jpg" class="index-background"/>
    <a href="/auth/signup" class="index-btn-create">CREATE ACCOUNT</a>
    <a href="/auth/login" class="index-btn-login">LOGIN</a>
    
</div>
