<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  {{#if currentUser}}
    <nav class="navegacion">
    <ul>
      <li><a href="/splash">Home</a></li>
      <li><a href="/splash/profile">Profile</a></li>
      <li><a href="/splash/books">Books</a></li>
      <li><a href="/splash/matches">Matches</a></li>
    </ul>
    <form action="/auth/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  </nav>
  <section class="hidden"></section>
 {{/if}}
  {{{body}}}
</body>

</html>