<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
</head>

<body>
  {{#if currentUser}}
  <nav class="nav-logout"></nav>
    <div class="navNarrow">
      <i class="fa fa-bars fa-2x"></i>
      <div class="narrowLinks hidden">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
   </nav>
   {{/if}}
  {{{body}}}
  </body>

</html>