<!DOCTYPE html>
<html>

<head>
  <title>Trype</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  {{#if currentUser}}
 <nav class="nav" role="navigation">
    <div id="menu-toggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li><a href="/splash/profile">Profile</a></li>
        <li><a href="/splash/books">Books</a></li>
        <li><a href="/splash/matches">Matches</a></li>
        <li>
          <form action="/auth/logout" method="POST">
            <button type="submit">Logout</button>
          </form> 
        </li>
      </ul>
  </nav>
  {{/if}}
  {{{body}}}
  <script src="/javascripts/main.js"></script>
</body>

</html>