/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/*---------------------Layout------------------------------------*/

.navegacion{
  height: 50px;
  width: 100%;
  background-color: #E57067;
  display: grid;
  grid-template-columns: 10% 70% 20%;
  align-items: center;
  justify-items: center;
  position: fixed; 
  top: 0;
}
.navegacion img {
  grid-column: 1 / 2;
  height: 60px;
  width: 70px;
  justify-self: stretch;
}
.navegacion ul{
  grid-column: 2 / 3;
  list-style-type: none;
  text-align: center;
  
}
.navegacion li{
  margin-right: 1px;
  display: inline;
  text-align: center;
 }
.navegacion a{
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.navegacion form {
  grid-column: 3 / 4;
}

.navegacion button {
  color: white;
  font-size: 1em;
}

.hidden {
  margin-top:50px;
}
/*---------------------Index-----------------------------------*/
.index-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 40% 20% 20%;
  align-items: center;
  justify-items: center;
}

.index-logo{
  width: 200px;
  height: 200px;
  grid-row: 1 / 2;
}

.index-background{
  width: 100%;
  height: 300px;
  grid-row: 2 / 3;
}

.index-btn-create {
  background-color: #657FAC;
  text-decoration:none; 
  border-radius: 10vh;
  text-align: center;
  padding-top: 1.7vh;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
  color: #fff;
  grid-row: 3 / 4;
}

.index-btn-login {
  background-color: #e57067;
  text-decoration:none; 
  border-radius: 10vh;
  text-align: center;
  align-self: start;
  padding-top: 1.7vh;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
  color: #fff;
  grid-row: 4 / 5;
}

/*------------------------signup-----------------------------*/
.signup-container {
  background-color: #8DA4CD;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 15% 15% 70%;
  align-items: center;
  justify-items: center;
}

.signup-container h1 {
  grid-row: 1 / 2;
  font-size: 2em;
  align-self: end;
  font-family: lora;
}

.signup-container img {
  grid-row: 2 / 3;
  align-self: end;
  width: 20vh;
  height: 20vh;
  align-self: start;
}

.signup-container form {
  grid-row: 3 / 4;
  display: grid;
}

.signup-field {
  border: 2px solid #fff;
  border-radius: 10vh;
  background-color: #839BC4;
  color: #fff;
  text-align: center;
  align-self: start;
  margin-bottom: 20px;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
}
.signup-field::placeholder {
  color: #fff;
}
.signup-button {
  border: 1px solid #657FAC;
  border-radius: 10vh;
  background-color: #657FAC;
  color: #fff;
  text-align: center;
  align-self: start;
  margin-bottom: 20px;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
}
/*------------------------------Splash---------------------------*/

.splash-container {
  width: 100%;
  height: 94vh;
  display: grid;
  grid-template-rows: 33% 33% 33%;
}
.splash-container a {
  text-decoration: none;
  color: #e57067;
  font-size: 1.3em;
  font-weight: bold;
}
.section-profile {
  display: grid;
  padding-top: 5px;
  background-color: #f9ccc9;
  justify-items: center;
}
.section-profile img {
  height: 150px;
  width: 200px;
}
.section-books {
  display: grid;
  padding-top: 5px;
  background-color: #fff;
  justify-items: center;
}
.section-books img {
  height: 150px;
  width: 200px;
}
.section-matches {
  display: grid;
  padding-top: 5px;
  background-color: #f9ccc9;
  justify-items: center;
}
.section-matches img {
  height: 150px;
  width: 150px;
}

/*-----------------------Profile----------------------*/
.profile-container {
  background-color: #f9ccc9;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  align-items: center;
  justify-items: center;
}
.profile-image {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  text-align: center;
}
.profile-image img {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
}

.profile-info {
  width: 100%;
  display: grid;
  grid-template-rows: 30% 30% 30% 10%;
  font-size: 1.2em;
}
.profile-username {
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
  border-bottom: 2px solid grey;
}
.profile-email {
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
  border-bottom: 2px solid grey;
}
.profile-location {
  display: flex;
  justify-content: space-between;
  padding: 1px 20px;
  border-bottom: 2px solid grey;
}
.profile-field {
  color: grey;
  font-weight: bold;
}
.profile-field-data {
  color: #30515E;
  font-weight: bold;
}
.profile-edit img{
  height: 80px;
  width: 80px;
}