/* ---- reset ---- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

input {
  outline: none;
}
button {
  outline: none;
}
a {
  text-decoration: none;
}
/*---------------------Layout------------------------------------*/



nav {
  min-height: 50px;
  display: flex;
  position: fixed;
  background-color: #657FAC;
  width: 100%;
  z-index: 1;
}

nav #menu-toggle {
  align-self: flex-end;
  margin-left: 20px;
  padding-bottom: 12px;
}

#menu {
  top:0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding-left: 0;
}

#menu a
{
  text-decoration: none;
  color: #657FAC;
  text-align: center;
  transition: color 0.3s ease;
  font-weight: bold;
}

#menu a:hover
{
  color: tomato;
}

#menu-toggle
{
  display: block;
  top: 60px;
  left: 60px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input
{
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  margin-top: 5px;
  margin-left: 5px;
}

#menu-toggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 12;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menu-toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menu-toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu-toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu-toggle input:checked ~ ul
{
  transform: translate(0, 0);
}

#menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu li{
  display: flex;
  justify-content: center;
  justify-self: center;
  font-size: 22px;
  margin: 25px;
}

#menu button{
  font-size: 22px;
  background: none;
  border: none;
  color: #000000;
  font-weight: bold;
}

/*---------------------Index-----------------------------------*/
.index-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 40% 20% 20%;
  align-items: center;
  justify-items: center;
}

.index-logo{
  width: 200px;
  height: 200px;
  grid-row: 1 / 2;
}

.index-background{
  width: 100%;
  height: 300px;
  grid-row: 2 / 3;
}

.index-btn-create {
  background-color: #657FAC;
  text-decoration:none; 
  border-radius: 10vh;
  text-align: center;
  padding-top: 1.7vh;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
  color: #fff;
  grid-row: 3 / 4;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
}

.index-btn-login {
  background-color: #e57067;
  text-decoration:none; 
  border-radius: 10vh;
  text-align: center;
  align-self: start;
  padding-top: 1.7vh;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
  color: #fff;
  grid-row: 4 / 5;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
}

/*------------------------signup-----------------------------*/
.signup-container {
  background-color: #8DA4CD;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 15% 15% 70%;
  align-items: center;
  justify-items: center;
}

.signup-container h1 {
  grid-row: 1 / 2;
  font-size: 1.6em;
  letter-spacing: 2px;
  align-self: end;
  font-weight: bold;
  
}

.signup-container img {
  grid-row: 2 / 3;
  margin-top: 30px;
  align-self: end;
  width: 15vh;
  height: 15vh;
  align-self: start;
}

.signup-container form {
  grid-row: 3 / 4;
  display: grid;
}

.signup-field {
  border: 2px solid #fff;
  border-radius: 10vh;
  background-color: #fff; 
  color: #839BC4;
  text-align: center;
  align-self: start;
  margin-bottom: 20px;
  width: 45vh;
  height: 7vh;
  font-size: 1.2em;
}
.signup-field::placeholder {
  color: rgb(157, 179, 218);
  font-weight: 200;
}
.signup-button {
  border: 1px solid #657FAC;
  border-radius: 10vh;
  background-color: #657FAC;
  color: #fff;
  text-align: center;
  align-self: start;
  margin-bottom: 20px;
  width: 45vh;
  height: 7vh;
  font-size: 1.5em;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
}

select {
  text-align: center;
  text-align-last: center;
}
/*------------------------------Splash---------------------------*/

.splash-container {
  width: 100%;
  height: 101vh;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  padding-top: 7vh;
}

.section-profile {
  display: grid;
  padding-top: 5px;
  background-color: rgb(174, 196, 235);
  justify-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;

}
.section-profile img {
  height: 150px;
  width: 200px;
}
.section-books {
  display: grid;
  padding-top: 5px;
  background-color: #fff;
  justify-items: center;
  text-decoration: none;
  color: #657FAC;
  font-size: 1.5em;
  font-weight: bold;
}
.section-books img {
  height: 150px;
  width: 200px;
}
.section-matches {
  display: grid;
  padding-top: 5px;
  background-color: rgb(174, 196, 235);
  justify-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
.section-matches img {
  height: 150px;
  width: 150px;
}

/*-----------------------Profile----------------------*/
.profile-container {
  padding-top: 7vh;
  background-color: #f7f7f7; 
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 40% 40% 20%;
  align-items: center;
  justify-items: center;
}
.profile-image {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  text-align: center;
}
.profile-image img {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
}

.profile-info {
  width: 100%;
  display: grid;
  grid-template-rows: 30% 30% 30% 10%;
  font-size: 1.2em;
}
.profile-username {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 2px solid grey;
}
.profile-email {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 2px solid grey;
}
.profile-location {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 2px solid grey;
}
.profile-field {
  color: grey;
  font-weight: bold;
}
.profile-field-data {
  color: #30515E;
  font-weight: bold;
}
.profile-edit img{
  height: 80px;
  width: 80px;
}
/*-----------------------Profile Edit-------------------------*/

.profile-edit-container {
  padding-top: 7vh;
  background-color: #f7f7f7; 
  width: 100%;
  height: 100vh;
  color: #fff;
  display: grid;
  grid-template-rows: 40% 30% 30%;
  align-items: center;
  /* justify-items: center; */
}
.profile-edit-image {
  margin-top: 40px;
  height: 200px;
  width: 200px;
  text-align: center;
  justify-self: center;
}
.profile-edit-image img {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
}

.profile-edit-info {
  width: 100%;
  margin-top: 20vh;
  display: grid;
  grid-template-rows: 33% 33% 33%;
  font-size: 1.2em;
}
.profile-edit-username {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-bottom: 2px solid grey;
}
.profile-edit-email {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-bottom: 2px solid grey;
}
.profile-edit-location {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  border-bottom: 2px solid grey;
}
.profile-edit-field {
  color: grey;
  font-weight: bold;
  margin-top: 5px;
}
.profile-edit-field-data {
  color: #30515E;
  font-weight: bold;
  font-size: 1.1em;
  border: 2px solid #657FAC;
}

/*-----------------------Books----------------------*/
.books-container {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-top: 7vh;
  text-align: center;
}

.books-container h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #839BC4;
}
.books-list {
  background-color: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  text-align: center;
}
.book-view {
  /* border: 2px solid grey; */
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  justify-items: center;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.book-view h4, .book-view h5 {
  margin: 0;
  padding-bottom: 20px;
  color: #839BC4;
  font-size: 1.2em;
  margin-top: 5px;
}
.book-view img {
  padding-top: 20px;
}

.book-view h4 {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}

.shareWants{
  display:block;
  width:60px;
  height:60px;
  background:#657FAC;
  position:fixed;
  bottom:0;
  left:90%;
  text-align:center;
  overflow:hidden;
  line-height:65px;
  font-size:1.5em;
  color:#fff;
  -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  border-radius:50px;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%); 
}
 .shareWants a {
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}
/*-------------------------------Book-Detail------------------------*/
.detail-container {
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 40% 10% 40%;
}
.detail-container h1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #839BC4;
  justify-self:center;
  text-align: center;
}

.detail-container span {
  font-weight: 500;
  font-size: 1em;
}
.detail-info {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.detail-info div{
  margin: 10px;
}
.detail-info p{
  font-weight: 300;
}

.detail-img-book {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 170px;
  height: 200px;
  justify-self:center;
}

.detail-delete-book {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  width: 25vh;
  height: 8vh;
  justify-self: center;
  margin: 10px;
}
.detail-delete-book button{
  border: 3px solid #e57067;
  background-color: #e57067;
  text-decoration:none; 
  border-radius: 10vh;
  text-align: center;
  width: 25vh;
  height: 7vh;
  font-size: 1.5em;
  color: #fff;
  box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.1);
}

.detail-description {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding: 5px;
}
.detail-description h5{
  padding: 5px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
}
.detail-description p{
  padding: 10px;
  font-size: 1em;
  font-weight: 300;
}


/*-------------------------------Wants----------------------------*/


.wants-container {
  width: 100%;
  height: 100%;
  padding-top: 7vh;
  display: grid;
  justify-content:center;
}
 .search-wants {
  width: 340px;
  height: 10vh;
  text-align: center;
  padding-top: 10px;
} 
.form-search {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}
.searchTerm {
  width: 100%;
  margin-right: 2px;
  border: 3px solid #657FAC;
  height: 35px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  padding: 10px;
}
.searchTerm:focus{
  color: #657FAC;
}
.searchButton {
  height: 35px;
  border: 1px solid #657FAC;
  background: #657FAC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  
} 

.search-list {
  background-color: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  
}
.search-view {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
  justify-items: center;
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

.search-view h4, .search-view h5 {
  margin: 0;
}

.search-view h4 {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
}
.search-view img {
  height: 180px;
  width: 90%;
}
.search-view button {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-color: #657FAC;
  border-radius: 5px;
  border: 2px solid #657FAC;
  width: 55px;
  height: 20px;
  color: white;
  margin: 5px;
}
.btn-igot {
 
}
.got-container {
  padding-top: 7vh;
 
}

/*---------------------------------matches--------------------*/
.matches-container {
  padding-top: 7vh;
}

/*----------------------------------Error 404---------------------*/
.error-404 {
  position: absolute;
  top: 40%;
  margin-left: 20px;
  right: center;
  font-size: 3em;
}

.error-500 {
  position: absolute;
  top: 40%;
  margin-left: 100px;
  font-size: 3em;
}

/*----------------------------------Match view---------------------*/
.wrap-match {
  display: flex;
  background-color: blue;
  padding-top: 4vh;
}


.wrap-image {
  display: flex;
  background-color: green;
  display: inline-block;
  width: 50%;
}


.wrap-image > p {
  background-color: yellow;
  height: 7vh;
  padding-left: 10vw;
}


.wrap-image > img {
  padding-left: 10vw;
}


.wrap-user {
  display: flex;
  background-color: orange;
}


.wrap-user > p {
  display: inline-block;
  background-color: red;
}