<h1>Add a book</h1>

<form method="POST" action="/splash/books/add-book/search">

  <div class="field" >
    <label>Title</label>
    <input type="text" name="title"/>
  </div>

  <div class="field submit">
    <button type="submit">Search</button>
  </div>

{{#each name}}
    <p>{{this.title}}</p>
{{/each}}

</form>
