<div class="books-container">
    <section class="books-list">
        {{#each user.books}}
        <article class="book-view">
            <h4>{{this.item.title}}</h4>
            <img src="{{this.item.image}}" alt="Book image">
            <h5>{{this.status}}</h5>
            <form method="POST" action="/splash/books/{{this.item._id}}/delete">
                <div>
                    <button type="submit"><img src="/images/books-delete.png" class="books-img-delete" /></button>
                </div>
            </form>
        </article>
        {{/each}}
    </section>
</div>
<div class="shareWants">
    <a href="/splash/books/add-book-wants">+</a>
</div>
<div class="shareGot">
    <a href="/splash/books/add-book-got">-</a>
</div>
