<div class="books-container">
    <div class="books-title">
        <h1>YOUR BOOK LIST</h1>
    </div>
    <section class="books-list">
        {{#each user.books}}
        <article class="book-view">
            {{!-- <h4>{{this.item.title}}</h4> --}}
            <a href="/splash/books/{{this.item.id}}"><img src="{{this.item.image}}" alt="Book image"></a>
            <h5>{{this.status}}</h5>
        </article>
        {{/each}}
    </section>
</div>
<div class="shareWants">
    <a href="/splash/books/add-book-wants">+</a>
</div>

