<div class="profile-container">
    <section class="profile-image">
        <img src="/images/default-profile.png" alt="Imagen Usuario">
    </section>
    <section class="profile-info">
        <div class="profile-username">
            <p>Username</p>
            <p>{{user.username}}</p>
        </div>
        <div class="profile-email">
            <p>E-Mail</p>
            <p>{{user.email}}</p>
        </div>
        <div class="profile-location">
            <p>Location</p>
            <p>{{user.location}}</p>
        </div>
    </section>
</div>

