<div class="profile-container">

    <section class="profile-image">
        <img src="/images/default-profile.png" alt="Imagen Usuario">
    </section>

    <form method="POST" action="/splash/profile-edit-action">

        <section class="profile-info">
            <div class="profile-username">
                <p class="profile-field">Username</p>
                <input type="text" name="username" value="{{user.username}}" class="profile-field-data"/>
            </div>
            <div class="profile-email">
                <p class="profile-field">E-Mail</p>
                <input type="email" name="email" value="{{user.email}}" class="profile-field-data"/>
            </div>
            <div class="profile-location">
                <p class="profile-field">Location</p>
                <input type="text" name="location" value="{{user.location}}" class="profile-field-data"/>
            </div>
        </section>

        <section class="profile-edit">
             <button type="submit" class="profile-edit-button">Save</button>
        </section>

    </form>
</div>

