<div class="profile-container">
    <section class="profile-image">
        <img src="/images/default-profile.png" alt="Imagen Usuario">
    </section>
    <section class="profile-info">
        <div class="profile-username">
            <p class="profile-field">Username</p>
            <p class="profile-field-data">{{user.username}}</p>
        </div>
        <div class="profile-email">
            <p class="profile-field">E-Mail</p>
            <p class="profile-field-data">{{user.email}}</p>
        </div>
        <div class="profile-location">
            <p class="profile-field">Location</p>
            <p class="profile-field-data">{{user.location}}</p>
        </div>
    </section>
    <section class="profile-edit">
        <a href="/splash/profile-edit-view"> <img src="/images/profile-edit.png" alt="Image edit"> </a>
    </section>
</div>

