<div class="profile-edit-container">
    <section class="profile-edit-image">
        <img src="/images/default-profile.png" alt="Imagen Usuario">
    </section>
    <form method="POST" action="/splash/profile-edit-action">
        <section class="profile-edit-info">
            <div class="profile-edit-username">
                <p class="profile-edit-field">Username</p>
                <input type="text" name="username" value="{{user.username}}" class="profile-edit-field-data"/>
            </div>
            <div class="profile-edit-email">
                <p class="profile-edit-field">E-Mail</p>
                <input type="email" name="email" value="{{user.email}}" class="profile-edit-field-data"/>
            </div>
            <div class="profile-edit-location">
                <p class="profile-edit-field">Location</p>
                <select name="location" class="profile-edit-field-data">
                    <option value="Barcelona">Barcelona</option> 
                    <option value="Madrid">Madrid</option>
                    <option value="Paris" selected>Paris</option>
                </select>
                {{!-- <input type="text" name="location" value="{{user.location}}" class="profile-field-data"/> --}}
            </div>
        </section>
        <section class="profile-edit-save">
             <button type="submit" class="profile-edit-save-button">Save</button>
        </section>
    </form>
</div>

