<h1>Prueba: {{user.username}}</h1>

<section>
    <img src="" alt="Imagen Usuario">

    <p>Username</p>
    <p>{{user.username}}</p>

    <p>email</p>
    <p>{{user.email}}</p>

    <p>Location</p>
    <p>{{user.location}}</p>
</section>

