<div class="splash-container">
  <section class="section-profile"><a href="/splash/profile">Profile</a></section>
  <section class="section-books"><a href="/splash/books">Books</a></section>
  <section class="section-matches">
    <a href="/splash/matches">Matches</a>
    <img src="/images/matches.png"/>
  </section> 
</div>