<div class="splash-container">
  <a href="/splash/profile" class="section-profile">
    <img src="/images/main-profile.png" />
    <p>Profile</p>
  </a>
  <a href="/splash/books" class="section-books">
    <img src="/images/main-books.png" />
    <p>Books</p>
  </a>
  <a href="/splash/matches" class="section-matches">
    <img src="/images/logo.png" />
    <p>Matches</p>
  </a> 
</div>